<div class="page-header">
   <h1>Categories
      <small>Detail for <b><%= @category.name %></b> </small>
   </h1>
</div>


Category Name : <%= @category.name %><br />
Category description : 
<%= @category.description %>